/* grids 4 img  */
@layer reset {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
  }

  :where(:not(dialog)) {
    margin: 0;
  }
}

@layer demo {
  :root {
    color-scheme: dark;
    --nav-block-size: 74px;
  }
}

@layer components.collections {
  .section {
    background-color: black;
    display: grid;
    inline-size: 100%;
    min-block-size: max(600px, calc(100dvb - var(--nav-block-size)));
    padding-block-end: 0.75rem;
    padding-inline: 0.75rem;
    place-items: center;
    position: relative;
  }

  .cards {
    background-color: black;
    block-size: 100%;
    display: grid;
    gap: 1rem;
    inline-size: 100%;

    @media (width > 1024px) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .card {
    container-type: size;
    inline-size: 100%;
    block-size: 100%;
    text-decoration: none;
    min-block-size: 280px;
    position: relative;

    &:hover::after {
      opacity: 1;
    }

    &::after {
      content: '';
      display: block;
      inset: 0;
      mix-blend-mode: multiply;
      opacity: 0;
      position: absolute;
      transition: opacity 0.2s ease;
    }
  }

  .card-1::after {
    background-color: hsl(343, 98%, 52%);
  }

  .card-2::after {
    background-color: hsl(199, 100%, 38%);
  }

  .card-3::after {
    background-color: hsl(119, 59%, 64%);
  }

  .card-4::after {
    background-color: hsl(49, 83%, 69%);
  }

  .visual {
    background-color: black;
    block-size: 100%;
    display: grid;
    inline-size: 100%;
    overflow: hidden;
    place-items: center;

    >* {
      grid-area: 1/1;
    }
  }

  .card-img {
    block-size: 100cqb;
    inline-size: 100cqi;
    border-radius: inherit;
    display: block;
    background: conic-gradient(from 90deg at 50% 0%, #111, 50%, #222, #111);
    filter: grayscale();
    object-fit: cover;
  }

  .figcaption {
    z-index: 2;
    color: white;
    font: 400 8cqi / normal system-ui, sans-serif;
  }
}



/* grids 4 img ends */



/* color boxes */
.site {
  display: grid;
  grid-template-columns:1fr;
  grid-template-areas:
    "title"
    "main"
    "masthead" 
    "sidebar" 
    "footer";
  grid-gap: 1em;
  
 }

@media screen and (min-width: 600px) {
.site {
  
  display:grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr 3fr;
  grid-template-areas:
    "title title"
    "main masthead"
    "main sidebar"
    "footer footer";
  }
}

/*comment to see impact on layout */
.masthead {
  grid-area: masthead;
  
}

.page-title {
  grid-area: title;
}

.main-content {
  grid-area: main;
}
.sidebar {
  grid-area: sidebar;
}

.footer-content {
  grid-area: footer;
}




/* style main start --------------------------------------------------------------------------------------------------------*/
.screen-reader-text {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body {
    margin: 0;
}

body,
button,
input,
select,
textarea {
    font-family: 'Source Sans Pro', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    clear: both;
}

p {
    margin-bottom: 1.5em;
}

b,
strong {
    font-weight: bold;
}

dfn,
cite,
em,
i {
    font-style: italic;
}

blockquote {
    margin: 0 1.5em;
}

address {
    margin: 0 0 1.5em;
}

pre {
    display: inline-block;
    font-family: "Courier 10 Pitch", Courier, monospace;
    color: #ddca7e;
    background: #282c34;
    padding: .5em .8em;
    border-radius: .2em;
}

code,
kbd,
tt,
var {
    font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}

abbr,
acronym {
    border-bottom: 1px dotted #666;
    cursor: help;
}

mark,
ins {
    background: #fff9c0;
    text-decoration: none;
}

sup,
sub {
    font-size: 75%;
    height: 0;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    bottom: 1ex;
}

sub {
    top: .5ex;
}

small {
    font-size: 75%;
}

big {
    font-size: 125%;
}

/* Global layouts */
@media screen and (min-width: 700px) {
    .two-column {
        column-count: 2;
        column-gap: 2.4em;
    }
}

/* Global buttons */
.content-button {
    padding: .5em 1em;
    border: 3px solid #B51C35;
    /*border-radius: 10px;*/
    font-weight: 600;
}

a.content-button {
    color: black;
    text-decoration: none;
}

a.content-button:focus,
a.content-button:hover {
    background: #B51C35;
    color: #FFFCED;
}


/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/

.site {
    margin: 1em;
}

.masthead,
.page-title,
.main-content,
.sidebar,
.footer-content {
/* 	margin-bottom: 1em; */
    padding: 1em;
    color: white;

}



.masthead {
    background-color: #7f007fc6;
}

.page-title {
    background-color: #4abbe7;
}

.main-content {
    background-color: #00610fdf;
}

.sidebar {
    background-color: #CD7F32;
}

.footer-content {
    background-color: #0265c0;
} 

 /* color boxes */







/* Main */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');

:root {
    --primary: #6f84cf;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-x: hidden;
    background: #fff;
    min-height: 100vh;
}

#header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

#header .logo {
    color: var(--primary);
    font-weight: 700;
    font-size: 2em;
    text-decoration: none;
}

#header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

#header ul li {
    list-style: none;
    margin-left: 20px;
}

#header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: var(--primary);
    border-radius: 20px;
}

#header ul li a:hover,
#header ul li a.active {
    background: var(--primary);
    color: #fff;
}

section {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--primary), transparent);
    z-index: 10;
}

section img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}

section #text {
    position: absolute;
    color: var(--primary);
    font-size: 10vw;
    text-align: center;
    line-height: .55em;
    font-family: 'Rancho', cursive;
    transform: translatey(-50%);
}

section #text span {
    font-size: .20em;
    letter-spacing: 2px;
    font-weight: 400;
}

#btn {
    text-decoration: none;
    display: inline-block;
    padding: 8px 30px;
    background: #fff;
    color: var(--primary);
    font-size: 1.2em;
    font-weight: 500;
    letter-spacing: 2px;
    border-radius: 40px;
    transform: translatey(100px);
}

.sec {
    position: relative;
    padding: 100px;
    background: var(--primary);
}

.sec h2 {
    font-size: 3.5em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: #fff;
}


/*main ends*/





/* footer*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #5277ff;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}





/* foooter ends */
